# Cmake swawn
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# Binaries
vme-nmpc
a.out

#Emacs backups
*~

build
build/*
.*
*.bak
*.user
gitignore
research/rough work.wxm
*.sublime-project
*.sublime-workspace

